<% if (locals.error) { %>
    <p>This Discord account is already linked to another BloxRazon account.</p>
<% } else { %>
    <p>You successfully linked your Discord account <%= discordUser.username %> to BloxRazon.</p>

    <script>
        window.opener.postMessage({
            type: "discord"
        }, "*");
    </script>
<% } %>