@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --background: #1d2125;
  --secondary-bg: #161721;
  --third-bg: rgba(22, 23, 33, 0.9);
  --fourth-bg: #0F1015;
  --fifth-bg: #131419;

  --gold: #FCA31E;
  --purple: #8B5DFF;
  --purple-dark: #7C4DFF;
  --purple-light: #A569FF;
  --red: #E53E3E;
  --red-dark: #C53030;
  --red-light: #FC8181;
  --gradient-bg: linear-gradient(277.39deg, #161721 -69.8%, #1A1B23 144.89%);
}

* {
  box-sizing: border-box;
}

p {
  margin: unset;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1d2125;
}

.bevel {
  outline: unset;
  border: unset;

  font-family: "Inter", sans-serif;
  color: #ADA3EF;
  cursor: pointer;

  background: #2A2B35;
  box-shadow: 0px -1px 0px #4A4B55, 0px 1px 0px #1A1B23;
  border-radius: 3px;
  transition: background-color .3s;
}

.bevel-light {
  outline: unset;
  border: unset;

  font-family: "Inter", sans-serif;
  color: #FFB3B3;
  cursor: pointer;

  background: #4A4581;
  box-shadow: 0px 1px 0px 0px #33305C, 0px -1px 0px 0px #9F5757;
  border-radius: 3px;
  transition: background-color .3s;
}

.bevel-gold {
  outline: unset;
  border: unset;

  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
  cursor: pointer;

  background: #E53E3E;
  box-shadow: 0px -2px 0px #FC8181, 0px 2px 0px #C53030;
  border-radius: 3px;
  transition: background-color .3s;
}

.bevel-gold:not(:disabled):hover {
  background-color: #C53030;
}

.bevel-gold:not(:disabled):active {
  background-color: #C53030;
  box-shadow: unset;
}

.bevel-gray {
  outline: unset;
  border: unset;

  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
  cursor: pointer;

  background: #4A4B55;
  box-shadow: 0px -2px 0px #6A6B75, 0px 2px 0px #2A2B35;
  border-radius: 3px;
  transition: background-color .3s;
}

.bevel-gray:not(:disabled):hover {
  background-color: #35363F;
}

.bevel-gray:not(:disabled):active {
  background-color: #2A2B35;
  box-shadow: unset;
}

.bevel-purple {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
  cursor: pointer;

  border-radius: 5px;
  border: 1px solid #EA6F6F;
  background: radial-gradient(60% 60% at 50% 50%, #EC7E7E 0%, #B85353 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 0.5px 0px 0px #BA5959, 0px -0.5px 0px 0px #FF8A8A;
}

.bevel-red {
  outline: unset;
  border: unset;

  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
  cursor: pointer;

  background: var(--red);
  box-shadow: 0px -2px 0px var(--red-light), 0px 2px 0px var(--red-dark);
  border-radius: 3px;
  transition: background-color .3s;
}

.bevel-red:not(:disabled):hover {
  background-color: var(--red-dark);
}

.bevel-red:not(:disabled):active {
  background-color: var(--red-dark);
  box-shadow: unset;
}

.gold {
  color: var(--red) !important;
}

.gold .gray {
  color: #B53030;
}

a:-webkit-any-link {
  text-decoration: none;
}

.green {
  color: #59E878;
}

.bevel:hover {
  background: #35363F;
}

.bevel-light:active {
  box-shadow: 0px 1px 0px #282445;
}

.bevel:active, .user-dropdown-link:active {
  box-shadow: 0px 1px 0px #282445;
}

.footer-link {
  color: #ADA3EF;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.purple {
  color: #E53E3E;
}

.admin-link {
  font-family: "Inter", sans-serif;
  color: #ADA3EF;
  font-weight: 700;
  text-decoration: none;

  opacity: 0.5;
  transition: opacity .3s;
}

.admin-link:hover {
  opacity: 1;
}

.gamemode-link {
  width: 100%;
  height: 100%;
  text-decoration: none;

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.user-dropdown-link {
  width: 100%;
  height: 25px;
  border-radius: 3px;
  background: #2A2B35;
  box-shadow: 0px 1px 0px 0px #161721, 0px -1px 0px 0px #4A4B55;

  color: #ADA3EF;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 700;

  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 8px;

  text-decoration: none;
  cursor: pointer;
  transition: background-color .3s;
  user-select: none;
}

.user-dropdown-link.gold {
  border-radius: 3px;
  background: linear-gradient(0deg, rgba(229, 62, 62, 0.25) 0%, rgba(229, 62, 62, 0.25) 100%), linear-gradient(253deg, #161721 -27.53%, #1A1B23 175.86%);
  box-shadow: 0px 1px 0px 0px #1A1B23, 0px -1px 0px 0px #FC8181;
}

.provably {
  width: 100%;
  height: 30px;
  background: rgba(89, 232, 120, 0.15);

  color: #59E878;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;

  cursor: pointer;
  text-decoration: none;
}

.user-dropdown-link:not(.gold):hover {
  background: #35363F;
}

.white {
  color: white;
}

.gray {
  color: #A7A7A7;
}

.bold {
  font-weight: bold;
}

.cost {
  border-radius: 3px;
  background: linear-gradient(0deg, rgba(229, 62, 62, 0.25) 0%, rgba(229, 62, 62, 0.25) 100%), linear-gradient(230deg, #161721 0%, #1A1B23 100%);

  font-family: "Inter", sans-serif;
  color: #FFF;
  font-size: 13px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-variant-numeric: tabular-nums;
}

.strip {
  border: unset;
  outline: unset;
  text-decoration: none;
}

.fadein {
  animation: .2s ease fadein;
}

.noto {
  font-family: Noto Sans;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

